#motorqLogo {
    max-width: 50%;
}

#groceries {
    color: dodgerblue;
    font-size: 1.5rem;
    font-weight: 700;
}

#hiddenForm {
    display: none;
}

#ts-color {
    color: darkblue;
}

#sidebar {
    min-height: 100vh;
    background-color: white;
    border-right: 3px solid rgba(184, 134, 11, 0.3);
}

.makeTicket {
    border-radius: 25px;
    border: 4px double #ec7a6f;
    background-color: rgb(252,120,54);
    color: white;
}

.makeTicket:hover {
    background-color: rgb(232, 99, 35);
}

.makeTicket:active {
    background-color: rgb(245, 98, 28);
}

/*override colors for user info button*/
.bootstrapOverride #userBtn {
    background-color: rgb(252,120,54);
    color: white;
}
.bootstrapOverride #userBtn:hover {
    background-color: rgb(232, 99, 35);
}

body {
    background-image: linear-gradient(to right, white, #ffe6d9);
}

li:hover {
    background-color: #b7e7e7;
}