#motorqLogo {
    max-width: 55%;
    min-width: 40%;
}

#groceries {
    color: dodgerblue;
    font-size: 1.5rem;
    font-weight: 700;
}

#hiddenForm {
    display: none;
}

#ts-color {
    color: darkblue;
    text-align: justify;
    font-size: smaller;
}

#sidebar {
    min-height: 100vh;
    background-color: white;
    border-right: 3px solid rgba(184, 134, 11, 0.3);
}
#sidebar-right {
    min-height: 100vh;
    background-color: white;
    border-left: 3px solid rgba(184, 134, 11, 0.3);
}

.bootstrapOverride .makeTicket {
    border-radius: 25px;
    border: 4px double #ec7a6f;
    background-color: rgb(252,120,54);
    color: white;
}

.bootstrapOverride .makeTicket:hover {
    background-color: rgb(232, 99, 35);
}

.bootstrapOverride .makeTicket:active, .bootstrapOverride .makeTicket:focus {
    background-color: rgb(245, 98, 28);
    border-color: orange;
}

/*override colors for user info button*/
.bootstrapOverride #userBtn {
    background-color: rgb(252,120,54);
    border: rgb(255, 89, 0);
    color: white;
}
.bootstrapOverride #userBtn:hover {
    background-color: rgb(232, 99, 35);
}

.bootstrapOverride #userCollapse {
    position: absolute;
}

.bootstrapOverride .navbar {
    padding-bottom: 0;
}

body {
    background-image: linear-gradient(to right, white, #ffe6d9);
}

li:hover {
    background-color: #b7e7e7;
}

@media only screen and (max-width: 768px) {
    .bootstrapOverride #offcanvasNavbar-expand-tickets {
        max-width: 30%;
    }
}
