#motorqLogo {
    max-width: 55%;
    min-width: 40%;
}

#groceries {
    color: dodgerblue;
    font-size: 1.5rem;
    font-weight: 700;
}

#hiddenForm {
    display: none;
}

#ts-color {
    color: darkblue;
    text-align: justify;
    font-size: smaller;
}

#sidebar {
    min-height: 100vh;
    background-color: white;
    border-right: 3px solid rgba(184, 134, 11, 0.3);
}

#sidebar-right {
    min-height: 100vh;
    background-color: white;
    border-left: 3px solid rgba(184, 134, 11, 0.3);
}

#root {
    background-color: #e7ecf1;
}

.userTicketBtns {
    cursor: pointer;
}

.bootstrapOverride .eyeSee {
    cursor: pointer;
    color: #181818;
}

/*overrides for project selection cards*/
.projectSelect .card {
    border-width: 0.2rem;
}

.projectSelect .card:hover,
.projectSelect .card:focus {
    border-color: rgb(68, 179, 183);
}

.projectSelect .activeProjectCard {
    border-color: rgba(50, 44, 147, 1);
}
.hoverOver {
    border: white 2px solid;
    background-color: white;
}

.bootstrapOverride .hoverOver:hover,
.bootstrapOverride .hoverOver:focus {
    background-color: rgb(190, 212, 239);
}

/*override for contenteditdiv. grows with more text, no scrollbar*/
.bootstrapOverride #contentEditDiv {
    min-height: 2rem;
    overflow: auto;
}

/*style overrides for create ticket button*/
.bootstrapOverride .makeTicket {
    border-radius: 5px;
    border: 2px double #ec7a6f;
    background-color: rgb(252, 120, 54);
    color: white;
}

.bootstrapOverride .makeTicket:hover {
    background-color: rgb(232, 99, 35);
}

.bootstrapOverride .makeTicket:active,
.bootstrapOverride .makeTicket:focus {
    background-color: rgb(245, 98, 28);
    border-color: orange;
}

/*override colors for user info button*/
.bootstrapOverride #userBtn {
    background-color: rgb(252, 120, 54);
    border: rgb(255, 89, 0);
    color: white;
}

.bootstrapOverride #userBtn:hover {
    background-color: rgb(232, 99, 35);
}

.bootstrapOverride #userCollapse {
    position: absolute;
}

.bootstrapOverride .navbar {
    padding-bottom: 0;
}

.bootstrapOverride .cardOneLine {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bootstrapOverride .modal-dialog {
    max-width: 600px;
}

li:hover {
    background-color: #b7e7e7;
}

input[type=radio] {
    transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
    .bootstrapOverride #offcanvasNavbar-expand-tickets {
        max-width: 30%;
    }
}
